body {
  font-family: Helvetica, Arial, sans-serif;
}
section,
header,
footer,
.qunit {
  margin: auto;
  max-width: 640px;
}
.qunit {
  margin-top: 20px;
}
header p {
  font-size: 10px;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  margin-top: 0;
}
#textarea {
  border: 1px solid #666666;
  padding: 6px;
}
#textarea p {
  font-size: 12px;
  line-height: 1.5em;
  margin: 0 0 0.75em 0;
}
p.instructions {
  display: none;
}
#prototypes {
  display: none;
}
